{% extends '::base.html.twig' %}

{% block body -%}
   <h1 class="page-header, fi-torsos"> Detalles de Habitantes</h1>
   
   <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Datos de Habitntes
                </div>
                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Segundonombre</th>
                <td>{{ entity.segundoNombre }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ entity.apellido }}</td>
            </tr>
            <tr>
                <th>Segundoapellido</th>
                <td>{{ entity.segundoApellido }}</td>
            </tr>
            <tr>
                <th>Genero</th>
                <td>{{ entity.genero }}</td>
            </tr>
            <tr>
                <th>Nacionalidad</th>
                <td>{{ entity.nacionalidad }}</td>
            </tr>
            <tr>
                <th>Cedula</th>
                <td>{{ entity.cedula }}</td>
            </tr>
            <tr>
                <th>Empleo</th>
                <td>{{ entity.empleo }}</td>
            </tr>
            <tr>
                <th>Fechanacimiento</th>
                <td>{{ entity.fechaNacimiento|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Embarazo</th>
                <td>{{ entity.embarazo }}</td>
            </tr>
            <tr>
                <th>Parentesco</th>
                <td>{{ entity.parentesco }}</td>
            </tr>
            <tr>
                <th>Gradodeinstruccion</th>
                <td>{{ entity.gradoDeInstruccion }}</td>
            </tr>
            <tr>
                <th>Cne</th>
                <td>{{ entity.cne }}</td>
            </tr>
            <tr>
                <th>Pensionado</th>
                <td>{{ entity.pensionado }}</td>
            </tr>
            <tr>
                <th>Tipodeingreso</th>
                <td>{{ entity.tipoDeIngreso }}</td>
            </tr>
            <tr>
                <th>Ingresomensual</th>
                <td>{{ entity.ingresoMensual }}</td>
            </tr>
            <tr>
                <th>Jefegrupofamiliar</th>
                <td>{{ entity.jefeGrupoFamiliar }}</td>
            </tr>
            <tr>
                <th>Edocivil</th>
                <td>{{ entity.edoCivil }}</td>
            </tr>
            <tr>
                <th>Telefonocelular</th>
                <td>{{ entity.telefonoCelular }}</td>
            </tr>
            <tr>
                <th>Correoelectronico</th>
                <td>{{ entity.correoElectronico }}</td>
            </tr>
            <tr>
                <th>Telefonooficina</th>
                <td>{{ entity.telefonoOficina }}</td>
            </tr>
            <tr>
                <th>Tiempoenlacomunidad</th>
                <td>{{ entity.tiempoEnLaComunidad }}</td>
            </tr>
            <tr>
                <th>Leypoliticahabitacional</th>
                <td>{{ entity.leyPoliticaHabitacional }}</td>
            </tr>
            <tr>
                <th>Participaorganizacion</th>
                <td>{{ entity.participaOrganizacion }}</td>
            </tr>
        </tbody>
    </table>
 </div>
         </div>
   </div>

    <table class="record_properties">
       
    </table>

        <ul class="record_actions">
   
            <a class="btn btn-primary" href="{{ path('habitantes') }}">Volver a la Lista </a> <br>
        </a>
    
   
        <a class="btn btn-success" href="{{ path('habitantes_edit', { 'id': entity.id }) }}">Editar Registro </a>
        
   
   {{ form(delete_form) }}
</ul>
{% endblock %}
